dialog {
  max-width: 32em;
  border-radius: 0.2em;
  border: none;
  padding: 0;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
dialog > div {
  padding: 1em;
}
dialog[open] {
  animation: zoom 0.3s ease-in;
}
@keyframes zoom {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
dialog[open]::backdrop {
  animation: fade 0.2s ease-out;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  display: block;
}
