.logo-wrapper {
  margin-top: rem(94);
  margin-bottom: rem(24);
}

.crypto-convertor-box {
  background: #fff;
  border-radius: 4px;
  padding: rem(58);
  margin: 0 auto;
  width: rem(460);
  max-width: 90vw;

  @include mobile {
    padding: rem(24);
  }

  .actions {
    margin-top: rem(24);
  }
}

.input-item {
  label {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
  }

  input {
    padding: rem(8) rem(16);
    border: 1px solid $color-dim;
    border-radius: 4px;
    width: 100%;
  }
}

.wallet-details {
  margin-top: rem(24);

  .actions {
    margin-top: rem(24);
  }
}

.wallet-detail-item {
  display: flex;
  justify-content: space-between;
  padding: rem(8) rem(12);
  border-bottom: 1px solid $color-dim;
}
